:root {--primary-text-color: #757575;
--accent-color: #2196F3;
--contrast-color:#212121 ;
--separation-color:#F5F4FA;
--background-color:#2F303A;
--pure-black-color:#000000;
--pure-white-color:#ffffff;
--transparent-white:#FFFFFF99;
--border-color: rgba(236, 236, 236, 1); } 
/* * {outline: 2px solid green} */
body {
    color: var(--primary-text-color); 
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    letter-spacing: 0.03em; 
    background-color: #ffffff;}

   
.list { 
    list-style: none; 
    padding: 0; 
    margin: 0;}
.list.flex {
    margin-left: auto;}
.list.flex .list-item + .list-item {margin-left: 50px;}
 /* Утиліти */
.link {text-decoration: none;}
.link.current {color:var(--accent-color);}
html {box-sizing: border-box;}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
img {display: block;}
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;}
.margin-none, 
.hiden,
 h1,
 h2,
 h3,
 p {margin: 0;}
 .flex {display: flex;}

 header {border-bottom: 1px solid var(--border-color);}

/*  header */
.header-nav {
    color:var(--contrast-color); 
    align-items: center;
    display: flex;
}
.header.container {
    display: flex;
    align-items: center ;
    /* padding-top: 24px;
    padding-bottom: 25px; */
}
.logo {
    color: var(--accent-color); 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2; 
    font-family:'Raleway', sans-serif;
    display: inline-block;
    margin-right: 93px;
}
.logo-header {color: var(--pure-black-color);}
.header-nav .nav-items + .nav-items {
margin-left: 50px;}
.nav-items.link, .cantacts-mail.link, .contacts-tel.link   {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav-items, 
.cantacts-mail, 
.contacts-tel {
    color: inherit; 
    font-weight: 500; 
    line-height: 1.2; 
    letter-spacing: 0.02em;}
.nav-items:hover, 
.cantacts-mail:hover, 
.contacts-tel:hover {color:var(--accent-color);}
.nav-items:focus, 
.cantacts-mail:focus, 
.contacts-tel:focus { color:var(--accent-color);}
/* main головної сторінки */
/* hero */
.hero {
    background-color:var(--background-color); 
    text-align: center;
    min-height: 600px;
    /* padding-top: 200px;
    padding-bottom: 280px; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
/* .hero>.container { 
    padding-top: 200px ;
    padding-bottom: 280px;
    text-align: center;
    padding-left: 270px;
    padding-right: 270px;} */
.hero-title {
    color:var(--pure-white-color); 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4; 
    letter-spacing: 0.06em; 
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 696px;
/*  margin: 0 auto 30 auto */
}
.hero-btn {
    background-color: var(--accent-color);
    color: var(--pure-white-color); 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9; 
    text-align: center; 
    letter-spacing: 0.06em; 
    cursor: pointer; 
    font-family: inherit;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border-color: var(--accent-color);
    /* margin: 0 auto 0 auto */
}

    /* секція як ми працюємо */
    .section {     
        padding-top: 94px;
        padding-bottom: 94px;}
/* .section-descr>.container {
    padding-top: 94px;
    padding-bottom: 94px;} */
.section-descr .list {justify-content: space-between;}
.list .descr-list + .descr-list {margin-left: 30px;}
/* .list>.descr-list:not(:first-child) {margin-left: 30px;} */
.descr-item {
    text-transform: uppercase; 
    color:var(--contrast-color) ; 
    font-weight: 700; font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.item-text {
    line-height: 1.7;}

    /* чим ми займаємось */
/* .section-direction>.container { padding-bottom: 94px;} */
.section-direction .list {justify-content: space-between;}
.section-direction.section {padding-top: 0;}

/* секція наша команда */
.team  {background-color: var(--separation-color);}

.name-and-profession{
        padding: 30px 0px;    
}
.team .list {justify-content: space-between;}
.team-items {
    background-color: var(--pure-white-color);
    border-radius: 0 0 4px 4px;
    text-align: center;
}
.member-profession {
    font-size: 16px;
    line-height: 1.2;}
.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2; 
    text-align: center;
    margin-bottom: 50px;} 
.title, 
.team-member {color: var(--contrast-color);}
.title.margin-none {margin-bottom: 50px;}

/* footer */
footer{
    padding-top: 60px;
    padding-bottom: 60px;}
footer .logo {
    margin-bottom: 20px;
}
.logo-footer {color: var(--pure-white-color);  
    display: inline-flex;}
.address {font-style:normal}
.address li:not(:last-child) {margin-bottom: 9px;}
 .address-map {
    color:var(--pure-white-color);
    line-height: 1.7;}
 footer {background-color: var(--background-color);}
.address-mail, 
.address-tel {
    color: var(--transparent-white);
    line-height: 1.7;}
.address-map:hover, 
.address-mail:hover, 
.address-tel:hover {color: var(--accent-color);}
.address-map:focus, 
.address-mail:focus, 
.address-tel:focus {color: var(--accent-color);}
/* портфоліо */


/* фільтри */
.filter-btn {
    background-color: var(--separation-color);
    color: var(--contrast-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6; 
    cursor: pointer; 
    font-family: inherit;
    border: 1px solid var(--separation-color); 
    border-radius: 4px;
}
.filter-btn:hover {
    background-color: var(--accent-color); 
    color: var(--pure-white-color);}
.filter-btn:focus {background-color: var(--accent-color); 
    color: var(--pure-white-color);}
/* проєкти */
.project-filter {
    margin-bottom: 50px;
    display: flex;
    justify-content: center; 
}
.project-filter li+li {margin-left: 8px;}
/* .project-filter>li:not(:first-child) {margin-left: 8px;} */
.project-list { 
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    }
.project-item { 
    flex-basis: calc((100% - 60px) /3); 
}
.project-descr { 
    padding: 20px 24px;
    border-left: 1px solid var(--border-color); 
    border-right: 1px solid var(--border-color); 
    border-bottom: 1px solid var(--border-color);
}

.project-title { 
    color:var(--contrast-color); 
    font-weight: 700;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
    margin-bottom: 4px;}
.title-descr {
    font-size: 16px;
    line-height: 1.9; 
    letter-spacing: 0.06em;}
